{{define "general/header"}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet"
/>
<title>Kanban App</title>
<script src="https://cdn.tailwindcss.com"></script>
<script src="jquery-3.6.0.min.js"></script>
<script>
    tailwind.config = {
      theme: {
        container: {
          center: true,
          padding: '2rem',
          width: '100%',
        },
        table: {},
      },
      variants: {
        extend: {
          backgroundColor: ['even'],
        },
      },
    };
  </script>
<style>
  .group:hover .group-hover\:flex {
    display: flex !important;
  }
</style>
{{end}}